<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Freshii Test Automation">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Freshii Tests">
		<classes>
			<class name="com.qa.freshii.testcases.SignUpFunctionality" />
			<class name="com.qa.freshii.testcases.orderNowFunctionality" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->